@model ConsumeApi.Models.Autor
@{
    Layout = "_Layout"; ViewBag.Title = "Update a Autor";
}

<h2>Update a Autor <a asp-action="Update" class="btn btn-sm btn-secondary">Back</a></h2>
<form method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input class="form-control" asp-for="Id" readonly />
    </div>
    <div class="form-group">
        <label asp-for="NomeAutor"></label>
        <input class="form-control" asp-for="NomeAutor" />
    </div>
    <div class="form-group">
        <label asp-for="SobrenomeAutor"></label>
        <input class="form-control" asp-for="SobrenomeAutor" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
    </div>
    <div class="form-group">
        <label asp-for="DataNascimento"></label>
        <input class="form-control" asp-for="DataNascimento" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>
@if (ViewBag.Result == "Success") { <h1>Foi Parabens, pela sua atualização</h1>
}

